::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }
}

.board-scrollable-area {
  height: calc(100vh - 250px);
  overflow-y: auto;
  padding-bottom: 10px;
  padding-right: 25px;
}